<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.web>
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal" />
    </securityPolicy>
    <customErrors redirectMode="ResponseRedirect" mode="Off">
      <error statusCode="404" redirect="/404.html" />
      <error statusCode="403" redirect="/404.html" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout ="180" requestValidationMode="2.0" maxRequestLength="1048576" />
    <pages validateRequest="false" />
  </system.web>
  <connectionStrings>
    <add name="BrandsMktgBooksEntities" connectionString="metadata=res://*/BrandsMktg.csdl|res://*/BrandsMktg.ssdl|res://*/BrandsMktg.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOST1;initial catalog=Kedemus;user id=sa;password=password2005;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <!--<httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>-->
  </system.webServer>
  <location path="" allowOverride="true">
    <system.webServer>
      <security>
      </security>
    </system.webServer>
  </location>
  <location path="BrandsMarketing" allowOverride="true">
    <system.webServer>
      <security>
        <ipSecurity>
          <add ipAddress="127.0.0.1" allowed="false" />
        </ipSecurity>
      </security>
    </system.webServer>
  </location>
</configuration>